<section class="benefits">
  <div class="container py-5">
    <div class="benefits-title pb-5">QUAIS OS BENEFÍCIOS OFERECIDOS?</div>
    <div class="benefits-salario">
      <div class="column">
        <div>
          <img
            src="images/icon-salario.png"
            class="img-fluid"
            alt=""
            width="70"
          />
        </div>
        <div>Salário competitivo com<br />o mercado sob regime CLT</div>
        <div class="plus py-3">+</div>
        <div>Benefícios flexíveis que você pode escolher entre:</div>
        <div class="row plus-itens mt-3 justify-content-md-center">
          <div class="col-6 col-sm-3 col-lg-2 mb-4">
            <img
              src="images/icon-parking.png"
              class="img-fluid"
              alt=""
              width="70"
            />
            <div class="benefits-label mt-2">estacionamento</div>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 mb-4">
            <img
              src="images/icon-doctor.png"
              class="img-fluid"
              alt=""
              width="70"
            />
            <div class="benefits-label mt-2">Plano de Saúde Bradesco</div>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 mb-4">
            <img
              src="images/icon-tooth.png"
              class="img-fluid"
              alt=""
              width="70"
            />
            <div class="benefits-label mt-2">Odontológico Metlife</div>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 mb-4">
            <img
              src="images/icon-gym.png"
              class="img-fluid"
              alt=""
              width="70"
            />
            <div class="benefits-label mt-2">GymPass</div>
          </div>
        </div>
        <div class="row plus-itens mt-3 justify-content-md-center">
          <div class="col-6 col-sm-3 col-lg-2 mb-4">
            <img
              src="images/icon-cards.png"
              class="img-fluid"
              alt=""
              width="70"
            />
            <div class="benefits-label mt-2">Vale Refeição e Alimentação</div>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 mb-4">
            <img
              src="images/icon-gas.png"
              class="img-fluid"
              alt=""
              width="70"
            />
            <div class="benefits-label mt-2">Vale Combustível</div>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 mb-4">
            <img
              src="images/icon-book.png"
              class="img-fluid"
              alt=""
              width="70"
            />
            <div class="benefits-label mt-2">Vale Cultura</div>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 mb-4">
            <img
              src="images/icon-learn.png"
              class="img-fluid"
              alt=""
              width="70"
            />
            <div class="benefits-label mt-2">Cursos</div>
          </div>
          <div class="col-6 col-sm-3 col-lg-2 mb-4">
            <img
              src="images/icon-kids.png"
              class="img-fluid"
              alt=""
              width="70"
            />
            <div class="benefits-label mt-2">
              Babá, creche e escola para seus filhos
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
