<div class="row features py-5">
  <div class="col-12 features-title mb-4">{{ page.feature_title }}</div>
  <div class="features-description px-4 px-sm-5">
    {{ page.feature_description | markdownify }}
  </div>
  <div class="container features-tools">
    <div class="row">
      <div class="col-6 col-sm-3">
        <img src="images/tool-typescript.png" class="img-fluid" alt="" />
      </div>
      <div class="col-6 col-sm-3">
        <img src="images/tool-spark.png" class="img-fluid" alt="" />
      </div>
      <div class="col-6 col-sm-3">
        <img src="images/tool-golang.png" class="img-fluid" alt="" />
      </div>
      <div class="col-6 col-sm-3">
        <img src="images/tool-grpc.png" class="img-fluid" alt="" />
      </div>
      <div class="col-6 col-sm-3">
        <img src="images/tool-python.png" class="img-fluid" alt="" />
      </div>
      <div class="col-6 col-sm-3">
        <img src="images/tool-scala.png" class="img-fluid" alt="" />
      </div>
      <div class="col-6 col-sm-3">
        <img src="images/tool-docker.png" class="img-fluid" alt="" />
      </div>
      <div class="col-6 col-sm-3">
        <img src="images/tool-react.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</div>
