<div class="col-sm-5 form-candidatura py-5 px-4 px-lg-5">
  <div class="form-candidatura_title mb-3">{{ page.form_title }}</div>
  <div class="form-candidatura_subtitle">{{ page.form_subtitle }}</div>
  <div class="form-candidatura_fields mt-4">
    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">Nome</label>
        <input
          type="nome"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder=""
          required
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder=""
          required
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Telefone</label>
        <input
          type="telefone"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder=""
          required
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">LinkedIn</label>
        <input
          type="linkedin"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder=""
          required
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1"
          >Por que quero trabalhar na Acqio</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">10 + 6 = ?</label>
        <input
          type="validator"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder=""
          required
        />
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block">
        ENVIAR
      </button>
    </form>
    <div class="form-candidatura_privacy pt-3">
      Não utilizaremos seus dados de contato para envio de SPAM.
    </div>
  </div>
</div>
